body{
    margin: 0%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: black;
}

.container{
    font-size: 10px;
    width: 40em;
    height: 40em;
    position: relative;
}

.sun{
    position: absolute;
    top: 15em;
    left: 15em;
    width: 10em;
    height: 10em;
    background-color: #ffea00;
    border-radius: 50%;
    box-shadow: 0 0 10em #fff;
}

 .mercury, .venus,.earth, .moon, .mars, .jupiter, .saturn, .uranus, .neptune {
    position: absolute;
    border-style: solid;
    border-color: #5b76ee transparent transparent transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
}

.earth{
    top: 5em;
    left: 5em;
    width: 30em;
    height: 30em;
    animation: orbit 36.5s linear infinite;
}

.moon{
    top: 0;
    right: 0;
    width: 8em;
    height: 8em;
    animation: orbit 2.7s linear infinite;
}

.earth::before,
.mercury::before,
.venus::before,
.mars::before,
.jupiter::before,
.saturn::before,
.uranus::before,
.neptune::before,
.moon::before{
    content:  '';
    position: absolute;
    border-radius: 50%;
    border-color: transparent;
}

.earth::before{
    top: 2.8em;
    right: 2.8em;
    width: 3em;
    height: 3em;
    background-color: #13f1f1;
}

.moon::before{
    top: 0.8em;
    right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background-color: #c0c0c0;
}

/* .mercury, .venus, .mars, .jupiter, .saturn, .uranus, .neptune {
} */


.venus {
    top: 2em;
    left: 2em;
    width: 39em;
    height: 39em;
    animation: orbit 42s linear infinite;
}

.venus::before {
    top: 3.5em;
    right: 3.5em;
    width: 4em;
    height: 4em;
    background-color: gray;
}

.mercury {
    top: 2em;
    left: 2em;
    width: 29em;
    height: 29em;
    animation: orbit 22.5s linear infinite;
}

.mercury::before {
    top: 3.5em;
    right: 4em;
    width: 1.5em;
    height: 1.5em;
    background-color: orange;
}


/* .mars {
    top: 3em;
    left: 3em;
    width: 24em;
    height: 24em;
    animation: orbit 68.7s linear infinite;
}

.mars::before {
    content: '';
    position: absolute;
    top: 2.5em;
    right: 2.5em;
    width: 2em;
    height: 2em;
    background-color: red;
    border-radius: 50%;
} */


/* .jupiter {
    top: -2em;
    left: -2em;
    width: 32em;
    height: 32em;
    animation: orbit 433.3s linear infinite;
}

.jupiter::before {
    content: '';
    position: absolute;
    top: 3em;
    right: 3em;
    width: 4em;
    height: 4em;
    background-color: brown;
    border-radius: 50%;
} */


/* .saturn {
    top: -4em;
    left: -4em;
    width: 38em;
    height: 38em;
    animation: orbit 1075.9s linear infinite;
}

.saturn::before {
    content: '';
    position: absolute;
    top: 3em;
    right: 3em;
    width: 3.5em;
    height: 3.5em;
    background-color: yellow;
    border-radius: 50%;
} */


/* .uranus {
    top: -7em;
    left: -7em;
    width: 44em;
    height: 44em;
    animation: orbit 3066.2s linear infinite;
}

.uranus::before {
    content: '';
    position: absolute;
    top: 3.5em;
    right: 3.5em;
    width: 3em;
    height: 3em;
    background-color: lightblue;
    border-radius: 50%;
} */


/* .neptune {
    top: -9em;
    left: -9em;
    width: 50em;
    height: 50em;
    animation: orbit 6019.6s linear infinite;
}

.neptune::before {
    content: '';
    position: absolute;
    top: 4em;
    right: 4em;
    width: 3em;
    height: 3em;
    background-color: blue;
    border-radius: 50%;
}  */


@keyframes orbit {
    100%{
        transform: rotate(360deg);
    }
}




